:root {
    --primary-color: #3F51B5; /* Cor principal */
    --secondary-color: #7986CB; /* Cor secundária */
    --background-color: #F5F5F5; /* Fundo claro */
    --text-color: #212121; /* Texto padrão */
    --border-color: #D1D5DB; /* Bordas suaves */
}

.form-busca {
    margin: 40px 0;
    display: block;

    .flex-container {
        display: flex;
        align-items: center;
        gap: 16px;
        flex-wrap: wrap;
        margin: 24px 0;
    }

    .drop-container {
        max-width: 230px;
    }

    .input-container {
        margin-bottom: -1.25em;
        flex: 1;
        /* Permite ajuste proporcional */
    }

    button.buscar-button {
        height: 56px;
        /* Igual aos inputs */
        line-height: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 24px;
        /* Maior largura */
        flex-shrink: 0;
        /* Impede que o botão diminua */
    }

    .mat-button-toggle-checked {
        background-color: #C5CAE9;
    }

    h2 {
        font-size: 32px;
        margin-bottom: 20px;
    }

    mat-chip {
        .inner {
            overflow: visible;
            display: flex;
            align-items: center;
            gap: 8px;
            cursor: pointer;
        }
    }
}

.circular-button {
    border: 1px solid gray;
    border-radius: 50%;
    padding: 8px;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.circular-button:hover {
    background-color: #E8EAF6;
    border-color: #7986CB;
}